.portfolio__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    
    
}

.portfolio__item{
    
    /* background: var(--color-bg-variant); */
    padding: 0.5rem;
    border-radius: 2rem;
    border: 1.5px solid var(--color-primary);
    transition: var(--transition);
}


 .portfolio__item-image img{
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    overflow: hidden;
 } 
 
 .portfolio__item h3{
    margin: 1.2rem 0 2rem;
 }



.portfolio__item:hover{
    border-color: var(--color-yellow);
    background: transparent;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    
}

/* Media queris (MEDIUM DEVICES)-------------------*/

@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    
}

/* Media queris (small DEVICES)-------------------*/
 
@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr ;
        gap: 1rem;
    }
}
    














