footer{
    background: var(--color-bg);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 3rem;
}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;

}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.footer__socials a{
    background: var(--color-bg);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 2px solid var(--color-primary);
}

.footer__socials a:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-yellow);
}

.footer__copyright{
    margin-bottom: 8rem;
    
}

/* Media queris (MEDIUM DEVICES)-------------------*/

@media screen and (max-width: 1024px){
    .permalinks{
        
        gap: rem;
    }
    .footer__socials{
        margin-bottom: 2.6rem;
    }
    .footer__logo{
        margin-bottom: 4rem;
    }
}

/* Media queris (small DEVICES)-------------------*/
 
@media screen and (max-width: 600px){
    
}
    

















